@charset "UTF-8";
/* reset css */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

ul[class],
ol[class] {
  list-style: none;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img {
  max-width: 100%;
  display: block;
}

picture {
  max-width: 100%;
  display: block;
}

article > * + * {
  margin-top: 1em;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* / reset css */
/* base css */
html {
  font-size: 62.5%;
}

body {
  font-size: 1.6em;
}

a {
  outline: none;
  text-decoration: none;
  padding: 2px 1px 0;
}

a:link {
  color: #0000ff;
}

a:visited {
  color: #800080;
}

a:focus, a:hover {
  border-bottom: 1px solid #0000ff;
  text-decoration: none;
}

a:active {
  color: #0000ff;
}

img,
iframe {
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: left top;
     object-position: left top;
  vertical-align: bottom;
}

button {
  display: inline-block;
  border: none;
  background-color: transparent;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  text-align: center;
}

button:hover, button:focus {
  background-color: #0000ff;
}

button:focus {
  outline: 1px solid #0000ff;
}

button:active {
  -webkit-transform: scale(0.99);
          transform: scale(0.99);
}

/* / base css */
/* footer */
.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80px;
  background-color: #dedede;
}

/* footer */
/* header */
.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1vh 4vw;
  background-color: #dddddd;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;
}

.header-button {
  width: 30px;
  height: 30px;
  z-index: 20;
  position: relative;
  background-color: #ffffff;
}

.header-bar {
  position: absolute;
  left: 3px;
  width: 20px;
  height: 2px;
  background-color: #dddddd;
}

.header-bar.open.header-bar_top {
  -webkit-transform: rotate(45deg) translate(7px, 7px);
          transform: rotate(45deg) translate(7px, 7px);
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s;
}

.header-bar.open.header-bar_mid {
  visibility: hidden;
  -webkit-transition: visibility .1s;
  transition: visibility .1s;
}

.header-bar.open.header-bar_btm {
  -webkit-transform: rotate(-45deg) translate(7px, -8px);
          transform: rotate(-45deg) translate(7px, -8px);
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s;
}

.header-bar_top {
  top: 2px;
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s;
}

.header-bar_mid {
  top: 12px;
  -webkit-transition: -webkit-transform .1s;
  transition: -webkit-transform .1s;
  transition: transform .1s;
  transition: transform .1s, -webkit-transform .1s;
}

.header-bar_btm {
  bottom: 2px;
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s;
}

@media only screen and (max-width: 1023px) {
  .gnav {
    display: none;
    position: fixed;
    z-index: 10;
    background-color: #333333;
    height: 100vh;
    top: 0;
    width: 70vw;
    right: 0;
  }
  .gnav::before {
    content: "";
    display: block;
    position: fixed;
    top: 0;
    left: -70vw;
    width: 100vw;
    height: 100vh;
    background-color: #dddddd;
    opacity: .5;
  }
  .gnav-list {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  .gnav-item {
    margin-bottom: 5vh;
  }
  .gnav-item a {
    color: #dddddd;
    font-size: 1.6rem;
  }
  .no-scroll {
    overflow: hidden;
  }
}

@media only screen and (min-width: 1024px) {
  .header-button {
    display: none;
  }
  .gnav {
    display: block;
  }
  .gnav-item {
    display: inline-block;
    margin-right: 1.6rem;
  }
  .gnav-item a {
    color: #262626;
    font-size: 1.6rem;
  }
}

/* header */
.main {
  padding: 100px 4vw;
  max-width: 1024px;
  margin: 0 auto;
}

/* section */
.section {
  margin-bottom: 5%;
}

.section-title {
  text-align: center;
  font-size: 3.2rem;
  margin-bottom: 5%;
}

/* section */
/* tab panel */
.tabs {
  width: 100%;
  max-width: 980px;
  margin: 0 auto;
  padding: 0;
}

.tabs .tablist {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.tabs .tab {
  padding: 2%;
  margin-right: 1%;
  color: #ffffff;
  background-color: skyblue;
}

.tabs .tab-active {
  background-color: blue;
}

.panels {
  -webkit-transform: translateY(-1px);
          transform: translateY(-1px);
}

.panel {
  display: none;
  background-color: skyblue;
  padding: 3%;
}

.panel-show {
  display: block;
}

@media only screen and (min-width: 1024px) {
  .card-wrap {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 1fr 1fr;
    -ms-grid-columns: auto auto;
        grid-template: 1fr 1fr / auto auto;
    gap: 20px;
  }
}

.card {
  -webkit-box-shadow: 0 2px 5px #262626;
          box-shadow: 0 2px 5px #262626;
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 5%;
}

.card-title, .card-picture, .card-text, .card-link {
  margin-bottom: 5%;
}

.card-title {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  font-size: 2rem;
  font-weight: bold;
}

.card-picture {
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
  width: 100%;
}

.card-text {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  padding: 0 4vw;
  text-indent: 1rem;
}

.card-link {
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
  padding: 1rem 1.4em;
  display: inline-block;
  border: 1px solid #dddddd;
  margin-top: auto;
}

.card-link:hover, .card-link:active, .card-link:focus {
  -webkit-transform: scale(0.99);
          transform: scale(0.99);
  border: 1px solid #0000ff;
  -webkit-transition: scale 0.5s ease-in-out;
  transition: scale 0.5s ease-in-out;
}

.gallery-list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

@media only screen and (min-width: 1024px) {
  .gallery-list {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
}

.gallery-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 2.5%;
}

.gallery-item:hover, .gallery-item:active {
  cursor: pointer;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: -webkit-transform .5s ease-in-out;
  transition: -webkit-transform .5s ease-in-out;
  transition: transform .5s ease-in-out;
  transition: transform .5s ease-in-out, -webkit-transform .5s ease-in-out;
}

.news {
  display: -ms-grid;
  display: grid;
  grid-template: "date      tag"   auto "thumbnail title" auto / 1fr      1fr;
  gap: 5%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  padding: 4vh 2vw;
}

.news::after {
  content: "";
  position: absolute;
  bottom: 0;
  display: block;
  width: 100%;
  border-bottom: 1px solid #dddddd;
}

.news-title {
  grid-area: title;
}

.news-picture {
  grid-area: thumbnail;
}

.news-date {
  grid-area: date;
}

.news-tag {
  grid-area: tag;
  border: 1px solid #dddddd;
  text-align: center;
  max-width: 150px;
}

@media only screen and (min-width: 1024px) {
  .news {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .news-title {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
  }
  .news-picture {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    max-width: 150px;
  }
  .news-tag {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .news-date {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

/* tab panel */
/* slider */
.slider {
  max-width: 500px;
  margin: 2vh auto;
  width: 100%;
}

.slider-list {
  padding: 2vh 4vw;
  position: relative;
}

.slider-item {
  display: none;
  width: 100%;
  max-width: 500px;
}

.slider-button {
  position: absolute;
}

.slider-button:active, .slider-button:focus, .slider-button:hover {
  background-color: #ffffff;
}

@media only screen and (max-width: 1023px) {
  .slider-button {
    bottom: 8%;
  }
  .slider-button_preview {
    right: 55%;
  }
  .slider-button_next {
    left: 55%;
  }
}

@media only screen and (min-width: 1024px) {
  .slider-button {
    top: 50%;
  }
  .slider-button_preview {
    left: 10px;
  }
  .slider-button_next {
    right: 10px;
  }
}

.slider-item-active {
  display: block;
}

.fa-chevron-left {
  margin-right: 8px;
}

.fa-chevron-right {
  margin-left: 8px;
}

/* slider */
.animation .section-text {
  padding-top: 5%;
  text-align: center;
}

.animation .underline-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 5%;
}

.animation .left-to-right {
  position: relative;
  border-bottom: none;
}

.animation .left-to-right::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 1px;
  background-color: #0000ff;
}

.animation .left-to-right:focus::after, .animation .left-to-right:hover::after, .animation .left-to-right:active::after {
  width: 100%;
  -webkit-transition: width .5s .2s ease-in-out;
  transition: width .5s .2s ease-in-out;
}

.animation .right-to-left {
  position: relative;
  border-bottom: none;
}

.animation .right-to-left::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #0000ff;
  -webkit-transform: scale(0, 1);
          transform: scale(0, 1);
  -webkit-transform-origin: right top;
          transform-origin: right top;
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s;
}

.animation .right-to-left:focus::after, .animation .right-to-left:hover::after, .animation .right-to-left:active::after {
  width: 100%;
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
}

.animation .fade-bottom {
  position: relative;
  border-bottom: none;
}

.animation .fade-bottom::after {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 0;
  background-color: #0000ff;
  width: 100%;
  visibility: hidden;
  height: 1px;
}

.animation .fade-bottom:focus::after, .animation .fade-bottom:hover::after, .animation .fade-bottom:active::after {
  bottom: 0;
  visibility: visible;
  -webkit-transition: bottom .2s ease-in-out;
  transition: bottom .2s ease-in-out;
}

.animation .slide-in {
  position: relative;
  border-bottom: none;
}

.animation .slide-in::after {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 0;
  background-color: #0000ff;
  width: 0;
  height: 1px;
  -webkit-transition: -webkit-transform .3s ease-in-out;
  transition: -webkit-transform .3s ease-in-out;
  transition: transform .3s ease-in-out;
  transition: transform .3s ease-in-out, -webkit-transform .3s ease-in-out;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.animation .slide-in:focus::after, .animation .slide-in:hover::after, .animation .slide-in:active::after {
  width: 100%;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.drop-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 5%;
}

.drop-item_menu .drop-list_child {
  visibility: hidden;
  opacity: 0;
  height: 0;
}

.drop-item_menu:focus .drop-list_child, .drop-item_menu:active .drop-list_child, .drop-item_menu:hover .drop-list_child {
  visibility: visible;
  opacity: 1;
  height: 100px;
  margin: 1rem 0 0;
  -webkit-transition: height .5s ease-in-out;
  transition: height .5s ease-in-out;
}

.drop-item_menu .drop-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.drawer-list {
  max-width: 150px;
}

.drawer-item_menu > a {
  position: relative;
}

.drawer-item_menu > a::after {
  content: ">";
  position: absolute;
  right: -15px;
  color: #262626;
}

.drawer-list_child {
  opacity: 0;
  height: 0;
  -webkit-transform: translate(-150px, -20px);
          transform: translate(-150px, -20px);
  z-index: -10;
}

.drawer-item_menu:hover .drawer-list_child {
  opacity: 1;
  height: 100%;
  -webkit-transform: translate(150px, -20px);
          transform: translate(150px, -20px);
  z-index: 1;
  -webkit-transition: opacity .2s ease-in-out;
  transition: opacity .2s ease-in-out;
}

/* iframeの埋め込み */
.map-iframe {
  aspect-ratio: 16 / 9;
}

.map-iframe iframe {
  width: 100%;
  height: 100%;
}

/* iframeの埋め込み */
/* アートディレクション */
@media only screen and (max-width: 1023px) {
  .media {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .media-picture {
    margin-bottom: 2.5%;
  }
  .media-text {
    margin-bottom: 2.5%;
  }
}

@media only screen and (min-width: 1024px) {
  .media {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    gap: 20px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .media-picture_flip {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .media-text_flip {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

/* アートディレクション */
/* top */
.top {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #0000ff;
  cursor: pointer;
  position: fixed;
  right: 1%;
  bottom: 1%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.top .fa-arrow-up {
  color: #ffffff;
}

/* top */
/*# sourceMappingURL=style.css.map */