@import "base/_reset.scss";
@import "base/_base.scss";

@import "mixin/_animation.scss";
@import "mixin/_btn.scss";
@import "mixin/_font.scss";

@import "module/_content.scss";
@import "module/_etc.scss";
@import "module/_fnav.scss";
@import "module/_footer.scss";
@import "module/_gnav.scss";
@import "module/_header.scss";
@import "module/_main.scss";
@import "module/_section.scss";
@import "module/_tabpanel.scss";
@import "module/_slider.scss";
@import "module/_animation.scss";
@import "module/_map.scss";
@import "module/_share.scss";
@import "module/_side.scss";

// @import "page/〜.scss";

// @import "plugin/〜.css";

@import "setting/_config.scss";
@import "setting/_function.scss";

