// color
 // common
 $base-color: #ffffff;
 $text-color: #262626;
 $main-color: #333333;
 $accent-color: #333333;
 $sub-color: #dedede;
 $link-color: #0000ff;
 $visited-color: #800080;
 $active-color: #0000ff;
 $border-color: #dddddd;

 // sns
 $facebook-color: #1877f2;
 $twitter-color: #1DA1F2;
 $youtube-color: #cd201f;
 $line-color: #00b900;
 $feedly-color: #6CC655;
 $hatena-color: #00A4DE;
 // color

 // text
 $indent: 1rem;
 // text

// breakpoint https://haniwaman.com/breakpoint/
 // レイアウト幅
 $layout-width-inner: 1024px;

 // ブレイクポイント
 $breakpoints: (
  "sp": "only screen and (max-width: 767px)",
  "tab": "only screen and (max-width: #{$layout-width-inner - 1px})",
  "pc": "only screen and (min-width: #{$layout-width-inner})"
 );

 // mixin
 @mixin mq($breakpoint: sp) {
  @media #{map-get($breakpoints, $breakpoint)} {
   @content;
 
  }
 }
// breakpoint

%align-center  { // 上下左右中央の設定
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
}
// 使い方 @extend %align-center;

@mixin justify-center($width, $margin: 0) { // 左右中央の設定
 width: 100%;
 max-width: $width; // $widthはinner-width
 margin: $margin auto; // marginの上下の初期値は"0"
}
// 使い方 @include justify-center(max-width px, margin px)

$bottom: 5%; // 要素の下の余白 margin-bottom :$bottom ;

// font-size https://yuyakinoshita.com/blog/2019/01/31/readability-and-typography/
 // pc
 $title-size-pc: 4.0rem; // タイトルのサイズ
 $heading-size-pc: 3.1rem; // 見出しのサイズ
 $subheading-size-pc: 2.4rem; // 小見出しのサイズ
 // pc

 // sp
 $title-size-sp: 2.4rem; // タイトルのサイズ
 $heading-size-sp: 2.2rem; // 見出しのサイズ
 $subheading-size-sp: 2.0rem; // 小見出しのサイズ
 // sp
// font-size