@import "../setting/config";
/* base css */

    // - font-size
    // - font-family
    // - テキストの色


html {
  font-size: 62.5%;
  // rootのfont-sizeを10pxに設定
}

body {
  // 1rem = 10px : body内では指定がなければ、16px
  font-size: 1.6em;
//   font-family: ;
//   color: ;
}

// https://developer.mozilla.org/ja/docs/Learn/CSS/Styling_text/Styling_links
a {
  outline: none;
  text-decoration: none;
  padding: 2px 1px 0;
  &:link {
    color: $link-color;
  }
  
  &:visited {
    color: $visited-color;
  }
  
  &:focus, &:hover {
    border-bottom: 1px solid $link-color;
    text-decoration: none;
  }
  
  &:active {
    color: $active-color;
  }
}

img,
iframe {
 // Web Design Trends https://webdesign-trends.net/entry/11308
 // クリスタ https://crestadesign.org/img-css/
 max-width: 100%;
 object-fit: cover;
 object-position: left top;
 vertical-align: bottom;// 下の余白予防
}

button {
  // https://qiita.com/nabettu/items/1593af04e48444c45c53
  // https://codepen.io/piccalilli/pen/Vxpjvo
  display: inline-block;
  border: none;
  background-color: transparent;
  appearance: none;
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  text-align: center;
  
  &:hover,
  &:focus {
    background-color: $active-color;
  }

  &:focus {
    outline: 1px solid $active-color;
  }

  &:active {
    transform: scale(0.99);
  }
}

/* / base css */
