/* mouse hover animation */
.animation {
 
 .section-text {
  padding-top: 5%;
  text-align: center;
 }

 .underline {
  
  &-list {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding-top: 5%;
  }

 } // underline

 // 下線を左から右へ伸ばす
 .left-to-right { 
  position: relative;
  border-bottom: none; // _baseの設定を消す
  &::after {
   content: "";
   position: absolute;
   bottom: 0;
   left: 0;
   width: 0;
   height: 1px;
   background-color: $active-color;
  }
  &:focus::after,
  &:hover::after,
  &:active::after {
   width: 100%;
   transition: width .5s .2s ease-in-out;
  }
 }
 // 下線を左から右へ伸ばす
 
 // 下線を右から左へ伸ばす
 .right-to-left {
  position: relative;
  border-bottom: none; // _baseの設定を消す

  &::after {
   content: "";
   position: absolute;
   bottom: 0;
   left: 0;
   width: 100%;
   height: 1px;
   background-color: $active-color;
   transform: scale(0, 1);
   transform-origin: right top;
   transition: transform .5s;
  }

  &:focus::after,
  &:hover::after,
  &:active::after {
    width: 100%;
   transform: scale(1, 1);
  }

 }
 // 下線を右から左へ伸ばす

 // 下線を下から上へ表示する
 .fade-bottom {
     position: relative;
     border-bottom: none;

     &::after {
         content: "";
         position: absolute;
         bottom: -3px;
         left: 0;
         background-color: $active-color;
         width: 100%;
         visibility: hidden;
         height: 1px;
     }

     &:focus::after,
     &:hover::after,
     &:active::after {
        bottom: 0;
        visibility: visible;
        transition: bottom .2s ease-in-out;
     }

 }
 // 下線を下から上へ表示する

 // 下線を真ん中から表示する
 .slide-in {
    position: relative;
    border-bottom: none;

    &::after {
        content: "";
        position: absolute;
        bottom: -3px;
        left: 0;
        background-color: $active-color;
        width: 0;
        height: 1px;
        transition: transform .3s ease-in-out;
        transform: translateX(-50%);
    }

    &:focus::after,
    &:hover::after,
    &:active::after {
       width: 100%;
       transform: translateX(0);
    }

}
 // 下線を真ん中から表示する

} // animation


/* css animation drop list */
.drop {

	&-list {
		display: flex;
		justify-content: space-around;
		margin-top: 5%;
	}

	&-item_menu {

		.drop-list_child {
			visibility: hidden;
			opacity: 0;
			height: 0;
		}

		&:focus, &:active, &:hover {
			.drop-list_child {
				// 基礎 show
				visibility: visible;
				opacity: 1;
				// 適宜調整
				height: 100px;
				margin: 1rem 0 0;
				// 適宜調整
				
				// 基礎 show

				// fadeIn
				// transition: opacity 0s ease-in-out;
				// fadeIn

				// slideIn
				transition: height .5s ease-in-out;
				// slideIn
		
			}
		}

		.drop-item {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
		}

	}

}

/* css animation drop list */

/* mouse hover animation */