@import "../setting/_config.scss";

/* header */
.header {
 display: flex;
 justify-content: space-between;
 align-items: center;
 padding: 1vh 4vw; // header-wrap内の要素のpadding
 background-color: $border-color; // 見やすくするための色
 width: 100%;
 position: fixed;
 top: 0;
 left: 0;
 z-index: 20;
 
//  header-logo
 
//  header-logo
 
//  header-button
 &-button {
  width: 30px;
  height: 30px;
  z-index: 20;
  position: relative;
  background-color: $base-color; // 見やすくするための色
}
 &-bar {
   position: absolute;
   left: 3px;
   width: 20px;
   height: 2px;
   background-color: $border-color;
  //  クリックされた時の動き
   &.open.header-bar_top {
      transform: rotate(45deg) translate(7px, 7px);
      transition: transform .5s;
    }
    &.open.header-bar_mid {
     visibility: hidden;
     transition: visibility .1s;
    }
    &.open.header-bar_btm {
     transform: rotate(-45deg) translate(7px, -8px);
     transition: transform .5s;
   }
  //  クリックされた時の動き
 }
 &-bar_top {
   top: 2px;
   transition: transform .5s; // 閉じた時のアニメーション時間
 }
 &-bar_mid {
   top: 12px;
   transition: transform .1s; // 閉じた時のアニメーション時間
 }
 &-bar_btm {
   bottom: 2px;
   transition: transform .5s; // 閉じた時のアニメーション時間
 }
}
// header-button

// headerレスポンシブ
@include mq('tab') { // スマホからタブレットサイズ
//  gnav
 .gnav {
  // 共通
  display: none;
  position: fixed;
  z-index: 10;
  background-color: $main-color; // バーガーボタンを押した時のヘッダーリストの背景色
  height: 100vh;
  top: 0;
  // 共通

  // 全体に表示する
   // width: 100vw;
   // left: 0;
  // 全体に表示する

  // 右から出る時
  width: 70vw;
  right: 0;
  // 右から出る時

  // 左から出る
   // width: 50vw;
   // left: 0;
  // 左から出る
  &::before {
   content: "";
   display: block;
   position: fixed;
   top: 0;
   left: -70vw; // widthを揃えて、「-」をつける
  //  全体に表示
   width: 100vw;
   height: 100vh;
  //  全体に表示
   background-color: $border-color; // マスクの色
   opacity: .5; // 透過する
  }

  &-list {
   display: block;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
  }
  &-item {
    margin-bottom: 5vh;
    a {
        color: $border-color;
        font-size: 1.6rem;
    }
  }
 }
 
 .no-scroll {
  overflow: hidden;
 }
//  header-nav
}
@include mq('pc') { // タブレットサイズ以上
//  header-button
 .header-button {
  display: none;
 }
//  header-button
//  gnav
 .gnav {
  display: block;
  
  &-item {
    display: inline-block;
    margin-right: 1.6rem;
    a {
      color: $text-color;
      font-size: 1.6rem;
    }
  }
  }
//  gnav
}
// header レスポンシブ

/* header */