/* iframeの埋め込み */
// 参考 https://haniwaman.com/google-map/
// https://coliss.com/articles/build-websites/operation/css/how-to-use-aspect-ratio-css-property.html
// https://developer.mozilla.org/ja/docs/Web/CSS/@media/aspect-ratio
.map-iframe {
position: relative;
margin: 0 auto;
width: 100%;
padding-top: 75%; /* = 埋め込んだiframeのheight ÷ 埋め込んだiframeのwidth ✖️ 100 */
& {
 iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  }
}
}
/* iframeの埋め込み */