/* アートディレクション */
.media {
 
 @include mq('tab') {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
  &-picture {
   margin-bottom: 2.5%;
  }
  &-text {
   margin-bottom: 2.5%;
  }
 }

 @include mq('pc') {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  align-items: center;

  &-picture {
   &_flip {
    order: 2;
   }
  }

  &-text {
   &_flip {
    order: 1;
   }
  }
 }
}
/* アートディレクション */
