/* top */
.top {
 // 形
 width: 50px;
 height: 50px;
 border-radius: 50%;
 background-color: $active-color;
 // 形
 cursor: pointer;
 // 位置
 position: fixed;
 right: 1%;
 bottom: 1%;
 // 位置
 // アイコンを上下左右中央揃え
 display: flex;
 justify-content: center;
 align-items: center;
 // アイコンを上下左右中央揃え

.fa-arrow-up {
  color: $base-color;
 }

}
/* top */